
<div class="limiter">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ol>
            <li>user1</li>
        </ol>
    </div>


    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="container-card100" style="background-image: url('images/bg-01.jpg');">
    <!-- Use any element to open the sidenav -->
    <div class="navbar navbar-light">
        <span onclick="openNav()">USERS</span>
    </div>
    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium incidunt eveniet molestias cumque cum eos impedit vero rem nostrum officiis? Consectetur vitae nihil, fugit possimus excepturi minus aut animi impedit.</p>
    </div>
</div>
<script src="/javascripts/chatroom.js"></script>